.featured-section{
    margin-top: -60px;
    margin-bottom: 60px;
    position: relative;
    z-index: 10;
}

/* White Card */
.featured-card{
    background: #fff;
    padding: 12px;
    border-radius: 26px;
    box-shadow: 0 18px 45px rgba(0,0,0,.12);
}

/* Background Image */
.featured-image{
    position: relative;
    height: 340px;

    border-radius: 20px;
    overflow: hidden;

    background-image:
        linear-gradient(
            to right,
            rgba(255,255,255,0.78) 0%,
            rgba(255,255,255,0.45) 18%,
            rgba(255,255,255,0.18) 32%,
            rgba(255,255,255,0.05) 45%,
            rgba(255,255,255,0) 58%
        ),
        url("/Bali.png");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}

/* Left Content */
.featured-content{
    width: 42%;
    margin-left: 45px;
}

.featured-badge{
    display: inline-block;
    padding: 8px 16px;
    background: #FFE7D4;
    color: #ff6b00;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 18px;
}

.featured-content h2{
    font-size: 3rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 18px;
    line-height: 1.15;
}

.featured-content p{
    width: 90%;
    font-size: 1rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 30px;
}

.featured-btn{
    border: none;
    background: #F69444;
    color: white;
    padding: 14px 28px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.featured-btn:hover{
    background: #ef7f26;
    transform: translateY(-2px);
}

/* Responsive */
@media(max-width:992px){

    .featured-image{
        height: 480px;
        align-items: flex-end;
    }

    .featured-content{
        width: 100%;
        margin: 0;
        padding: 35px;
        background: rgba(255,255,255,.92);
        backdrop-filter: blur(8px);
    }

    .featured-content h2{
        font-size: 2.2rem;
    }

    .featured-content p{
        width: 100%;
    }
}