/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  color: #222;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Lists */
ul {
  list-style: none;
}

/* Buttons */
button {
  cursor: pointer;
}

/* Scrollbar (optional) */
::-webkit-scrollbar {
  width: 8px;
}